onboard/raspi-i2c-ada-code/.build-relocatable
onboard/raspi-i2c-ada-code/.build-static
onboard/raspi-i2c-ada-code/lib-relocatable
onboard/raspi-i2c-ada-code/lib-static
onboard/raspi-i2c-ada-code/include
onboard/raspi-i2c-ada-code/src/asm_generic_int_ll64_h.ads
onboard/raspi-i2c-ada-code/src/asm_generic_types_h.ads
onboard/raspi-i2c-ada-code/src/i2c_interface_c.ads
onboard/raspi-i2c-ada-code/src/linux_i2c_dev_h.ads
onboard/raspi-i2c-ada-code/src/linux_posix_types_h.ads
onboard/raspi-i2c-ada-code/src/linux_types_h.ads
onboard/raspi-i2c-ada-code/src/x86_64_linux_gnu_asm_posix_types_64_h.ads
onboard/raspi-i2c-ada-code/src/x86_64_linux_gnu_bits_ioctl_types_h.ads
onboard/raspi-i2c-ada-code/src/x86_64_linux_gnu_sys_ioctl_h.ads


*~
*.o
*.ali
.build
.hg/
*.cgpr
